body{
    margin:0;
    padding: 0;
    font-family: arial,verdana,tahoma;
    font-size: 12px;
}/* Informações do Corpo do site */

#container{
    margin:auto;
    padding:20px;
    width: 980px;
}/* Corpo do site */

#LogoDrones{
        position: absolute;
        left:14%;
        top:1%;
} /* Logo Topo Esquerda Site*/

ul{
    font-family: Arial;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    margin: 0;
} /* Ajustando a lista que vai definir o menu */

ul li {
    display: inline;
    color:white;
    padding: 0 10px 0 10px;
    margin: 0;
}/* Ajustando os itens da lista que vai definir o menu */

ul a {
    color: white;
    text-decoration: none;
    margin: 0;
}/* Ajustando os links da lista que vai definir o menu */

#menuCima li:hover{
    background-color: #92c9ce;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    transition: 0.3s;
} /* Menu Azul quando passa o mouse*/

#menuCima{
    display: flex;
    background-color: #1b8e99;
    height: 45px;
    vertical-align: middle;
    align-items: center;
    justify-content: end;
    text-align: center;
}/* Menu Azul*/

.banner{
    background-image: url(../img/banner.fw.png);
    height: 352px;
    width:980px;
    margin: 0;

}/* Banner Topo*/

#menuBaixo li:hover{
    background-color: white;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: #660000;
    transition: 0.3s;
}/* Menu Vermelho quando passa o mouse*/

#menuBaixo li:hover a{
    color: #660000;
}/* Menu Vermelho pra trocar a cor dos textos*/

#menuBaixo{
    display: flex;
    background-color: #660000;
    height: 45px;
    vertical-align: middle;
    align-items: center;
    justify-content: start;
    text-align: center;
    margin:0;
    padding: 0;  
}/* Menu Vermelho*/

#menuBaixo li{
    padding-left: 15px;
    padding-right: 20px;
}/* Menu Vermelho espaçamento entre itens*/

.arrumarHR{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}/* Arrumando o HR com a imagem*/

#tituloVermelho{
    font-family: Arial;
    color:#660000;
    font-size: 18px;
    margin:0;
    margin-top: 25px;
} /* Título "Loja Virtual" */

.hrVermelho{
    border-color: #660000;
    margin: 0;
    height: 2%;
    width: 852px; 
} /* Linha horizontal de cima */

.dronesParalelos{
    width: 125px;
    height: 77px;
    padding: 20px 0 10px 0;
    margin: 0;
} /* Estilizando a imagem dos drones nos cantos das linhas horizontais */ 

.row1{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    height: 376px;
    justify-content: space-between;
} /* Container para formar uma linha (1)*/

.ajusteAzul{
    border: 1px solid #1b8e99;
    padding: 0;
    margin:0;
    width: 298px;
    border-bottom: 5px solid #1b8e99;   
} /* Ajustando os produtos com fundo azul */ 

.row1 >.ajusteAzul{
    border-bottom: 1px solid #1b8e99;
} /* Ajustando os containers azuis na parte de cima (linha 1) */

.textoImagem{
    padding: 0;
    margin:0;
    width: 100%;
    height: 280px;
    text-align: center;
} /* Ajustando o texto das imagens dos produtos */

.ajusteAzul > .textoImagem > p{
    color: #1b8e99;
    font-family: Tahoma;
    padding: 13px;
    margin: 0;
    font-size: 13px;
    text-align: start;
}/* Ajustando o paragrafo do texto das imagens dos produtos */

.ajusteAzul > .textoImagem > h2{
    color: #1b8e99;
    background-color: #beecf0;
    font-family: Tahoma;
    padding: 5px;
    margin: 0;
    text-align: center;
    font-weight: 1;
} /* Ajustando o h2 dos textos das imagens dos produtos */

.azulcarrinho{
    display:flex;
    background-color:#1b8e99;
    color:white;
    font-family: Tahoma;
    height: 96px;
    text-align: start;
} /* Ajustando o espaço da parte dos containers azul que contém o carrinho */

.azulcarrinho h3{
    font-size: 11px;
    margin:0;
    padding-left: 15px;
    font-weight: 100;
}/* Ajustando o h3 do espaço dos carrinhos azuis  */

.azulcarrinho h1{
    font-size: 24px;
    margin: 0;
    display: block;
    width: auto;
    padding-right: 65px;
    padding-left: 15px;
    font-weight: 100;
} /* Ajustando o h1 do espaço dos carrinhos azuis  */

.arrumarTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
} /* Arrumando o texto do espaço dos carrinhos */ 

.carrinho{
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 7px;
    height: 55%;
    margin-right: 15px;
    margin-top: 15px;
} /* Ajustando a imagem do carrinho */

.ajusteVermelho{
    border: 1px solid #660000;
    padding: 0;
    margin:0;
    width: 298px;
    height: 374px;
    border-bottom: 5px solid #660000;
}/*Ajustando os containers vermelhos */

.row1 >.ajusteVermelho{
    border-bottom: 1px solid #660000;
} /* Ajustando os containers vermelhos na parte de cima (Linha 1)*/

.ajusteVermelho > .textoImagem > h2{
    color: #660000;
    background-color: #eec0c0;
    font-family: Tahoma;
    padding: 5px;
    margin: 0;
    text-align: center;
    font-weight: 1;
} /* Ajustando o h2 dos textos das imagens dos produtos nos containers vermelhos */

.ajusteVermelho > .textoImagem > p{
    color: #660000;
    font-family: Tahoma;
    padding: 13px;
    margin: 0;
    font-size: 13px;
    text-align: start;
} /* Ajustando o parágrafos dos textos das imagens dos produtos nos containers vermelhos*/

.vermelhocarrinho{
    display:flex;
    background-color:#660000;
    color:white;
    font-family: Tahoma;
    height: 96px;
    text-align: start;
} /* Ajustando o espaço dos carrinhos nos containers vermelhos */

.vermelhocarrinho h1{
    font-size: 24px;
    margin: 0;
    display: block;
    width: auto;
    padding-right:55px;

    padding-left: 15px;
    font-weight: 100;
}/* Ajustando o h1 do espaço dos carrinhos nos containers vermelhos */

.vermelhocarrinho h3{
    font-size: 11px;
    margin:0;
    padding-left: 15px;
    font-weight: 100;
}/* Ajustando o h3 do espaço dos carrinhos nos containers vermelhos */

.containerBarra{
    width: 100%;
    height: 20px;
    background-color: #444444;
} /* Linha no meio da página (cinza) */

.row2{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    height: 280px;
    justify-content: space-between;
}/*Criando uma segunda linha (linha de baixo) */


#tituloAzul{
    font-family: Arial;
    color:#1b8e99;
    font-size: 18px;
    margin:0;
    margin-top: 25px;
} /* Ajustando o título de baixo "Serviços" */

.hrAzul{
    border-color:#1b8e99;
    margin: 0;
    height: 2%;
    width: 852px;
}/* Ajustando a linha horizontal Azul */

#imagem2{
    width: 125px;
    height: 97px;
} /* Ajustando imagem do drone na linha horizontal */

.row2 > .ajusteVermelho{
    color: #660000;
    font-size: 13px;
    font-family: Tahoma;
    height: 330px;
} /* Ajustando os containers vermelhos na linha 2 */

.row2 > .ajusteVermelho> p{
    padding: 18px;
    color: #660000;
    font-size: 12px;
    font-family: Tahoma;
}/* Ajustando paragrafos dos containers vermelhos na linha 2 */

.row2 > .ajusteVermelho> h2{
    margin-left: 18px;
    color: #660000;
    font-size: 17px;
    font-family: Tahoma;
}/* Ajustando h2 dos containers vermelhos na linha 2 */

.row2 > .ajusteAzul{
    height: 330px;
} /* Ajustando os containers azuis na linha 2 */

.row2 > .ajusteAzul> p{
    padding: 18px;
    color:#1b8e99;
    font-size: 12px;
    font-family: Tahoma;
}/* Ajustando paragrafos dos containers azuis na linha 2 */

.row2 > .ajusteAzul> h2{
    margin-left: 18px;
    color: #1b8e99;
    font-size: 17px;
    font-family: Tahoma;
}/* Ajustando h2 dos containers azuis na linha 2 */

.drones{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 400px 300px 300px;
}/* Ajustando as imagens de drones antes da linha 3*/ 

.row3{
    height: 96px;
    width: 980px;
    color:white;
    text-align: start;
    background-color: #1b8e99;
    align-items: center;
    font-family: Tahoma;
    font-size: 12px;
    padding:0;
    margin:0;
    display: flex;
}/*Criando uma terceira linha do rodapé*/

.footer{
    height:26px;
    width: 980px;
    font-family: Tahoma;
    color: white;
    text-align: end;
    background-color: #660000;
    margin:0;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
} /* Criando o rodapé*/

.containerimg{
    width: 23%;
    justify-content: start;
    padding: 25% 0 25% 2%;
    display: flex;
}/*Modificando a imagem de logo DronesNET do rodapé*/

.footer > p {
    margin:0;
    position: absolute;
    margin-right: 90px;
    font-size: 14px;
}/* Modificando o texto do rodapé*/

.footer > img{
    margin-bottom: 170px;
} /* Modificando as imagens do rodapé (Professor) */